__pycache__/help_function.cpython-37.pyc
.vscode/settings.json
ORF_len.out
readme.txt
Untitled.ipynb
logs/slurmPools.neo.39979.err
logs/slurmPools.neo.39979.out
logs/slurmPools.neo.39980.err
logs/slurmPools.neo.39980.out
logs/slurmPools.neo.39981.err
logs/slurmPools.neo.39981.out
ouput/hits_count_per_10kbNI_genes_CLQCA20184.csv
ouput/hits_count_per_10kbNI_genes_CLQCA20184.out
ouput/hits_count_per_100bppromoter_CLQCA20184.out
ouput/hits_reads_count_per_ORF.out
ouput/ORF_len.out
hits_count_per_10kbNI_genes_CLQCA20184.out
hits_count_per_100bppromoter_CLQCA20184.out
hits_reads_count_per_ORF.out
ORF_len.out
readme.txt
Untitled.ipynb
logs/slurmPools.neo.41532.err
logs/slurmPools.neo.41532.out
logs/slurmPools.neo.41533.err
logs/slurmPools.neo.41533.out
logs/slurmPools.neo.41534.err
logs/slurmPools.neo.41534.out
logs/slurmPools.neo.41535.err
logs/slurmPools.neo.41535.out
logs/slurmPools.neo.41536.err
logs/slurmPools.neo.41536.out
logs/slurmPools.neo.41537.err
logs/slurmPools.neo.41537.out
logs/slurmPools.neo.41538.err
logs/slurmPools.neo.41538.out
logs/slurmPools.neo.41539.err
logs/slurmPools.neo.41539.out
logs/slurmPools.neo.41540.err
logs/slurmPools.neo.41540.out
logs/slurmPools.neo.41541.err
logs/slurmPools.neo.41541.out
logs/slurmPools.neo.41542.err
logs/slurmPools.neo.41542.out
logs/slurmPools.neo.41543.err
logs/slurmPools.neo.41543.out
logs/slurmPools.neo.41544.err
logs/slurmPools.neo.41544.out
__pycache__/decision_tree.cpython-37.pyc
__pycache__/helper_functions.cpython-37.pyc
__pycache__/random_forest.cpython-37.pyc
