__pycache__/help_function.cpython-37.pyc
.vscode/settings.json
ORF_len.out
readme.txt
Untitled.ipynb
logs/slurmPools.neo.39979.err
logs/slurmPools.neo.39979.out
logs/slurmPools.neo.39980.err
logs/slurmPools.neo.39980.out
logs/slurmPools.neo.39981.err
logs/slurmPools.neo.39981.out
ouput/hits_count_per_10kbNI_genes_CLQCA20184.csv
ouput/hits_count_per_10kbNI_genes_CLQCA20184.out
ouput/hits_count_per_100bppromoter_CLQCA20184.out
ouput/hits_reads_count_per_ORF.out
ouput/ORF_len.out
hits_count_per_10kbNI_genes_CLQCA20184.out
hits_count_per_100bppromoter_CLQCA20184.out
hits_reads_count_per_ORF.out
ORF_len.out
readme.txt
Untitled.ipynb
